.highlight{
	background-color: #fff;
	.k{
		font-weight: bold;
	}
	.kd{
		font-weight: bold;
	}
	.nb{
		color: #0086b3;
	}
	.c1{
		color: #811;
		font-weight: bold;
	}
	.s1{
		color: #d14;
	}
	.s2{
		color: #d14;
	}
	.mi{
		color: #099;
	}
}
