@charset "utf-8";

@mixin vpcss($key, $val){
    -moz-#{$key}: $val;
    -webkit-#{$key}: $val;
    -o-#{$key}: $val;
    -ms-#{$key}: $val;
    #{$key}: $val;
}

body {
	background-image: url("ryuone.png");
	background-repeat: repeat-x;
	background-color: white;
	color: #333333;
}

a:link{color:#009999;}
a:visited{color:#33cccc;}
a:hover{color: red;}
a { text-decoration:none; }

/*
ページトップにある操作ボタンの並ぶ行の設定
*/
header.adminmenu {
	text-align: right;
	font-size: small;
}


/*
ページトップにある操作ボタン自体の設定
*/
span.adminmenu {
	padding: 3px;
    a:link{ color: #666; }
    a:visited{ color: #666; }
    a:hover{ color: red; }
}

/*
日記タイトルの設定
*/
h1 {
	text-align: left;
	font-size:150%;
	font-style:normal;
	margin: 2em 0em 3em 1.5em;
}

/*
カレンダーの設定
*/
div.calendar {
	text-align: right;
	font-size: 80%;
	padding: 2px;
	margin-bottom: 0.5em;
}

/*
ヘッドラインの設定
*/
.headline {
	text-align: right;
	font-size: 80%;
	padding: 2px;
	margin-bottom: 3em;
}

/*
1日の日記全体を囲む枠の設定
*/
article.day {
	margin: 1em;
    background-color: #f8f9f9;
    border: 1px solid #333;
    @include vpcss('border-radius', 10px);
    /* タイトル行全体の設定 */
    h1 {
	    font-size: 120%;
	    font-style: normal;
	    background-color: #e6e6cc;
	    border-width : 3px;
	    border-style : solid double;
	    border-color : #ccc #999;
        @include vpcss('border-radius', 10px);
	    margin: 0px;
        /* 日付の設定 */
        span.date {
	        margin-left: 0.5em;
        }

        /* タイトルの設定 */
        span.title {
        }
    }
    /* タイトルを除いた1日の日記本文全体の設定 */
    div.body {
	    padding: 2px;
	    padding-bottom: 1px;
	    margin-left: 0.5em;
	    margin-right: 1em;
        /* 項目リストの設定 */
        dl {
	        margin-left: 2em;
        }
        dt {
	        margin-bottom: 0.2em;
	        font-weight: bold;
        }
        dd {
	        margin-left: 1em;
	        margin-bottom: 0.5em;
        }
        /* サブタイトルの設定 */
        article.section {
            h1{
	            font-size: 100%;
	            margin-top: 1em;
	            font-weight: bold;
	            border-color: #ccc;
	            border-width:  0em 0em 1px 0em;
	            border-style: solid;
            }
            /* 日記の本文(段落)の設定 */
            p {
	            margin: 0.5em 0em 0.5em 1em;
	            line-height: 1.3;
                /* 引用ソースの表示 */
                .source{
	                margin-top: 0em;
	                margin-right: 1.5em;
	                text-align: right;
	                font-size:90%;
                }
            }
            pre {
                b {
                    color:OrangeRed;
                    font-size:90%;
                }
            }
            div.tags{
	            text-align: right;
                font-size:90%;
            }
        }
        /* 引用の設定 */
        blockquote {
	        border-color:#ccc;
	        border-width: 3px;
	        border-style: double;
	        background-color: #f3f3e6;
	        margin-left: 2em;
	        margin-right: 1em;
	        padding: 8px;
        }
    }
    /* ツッコミ欄全体の設定 */
    div.comment {
	    font-size: 90%;
	    border-color: #ccc;
	    border-style: solid;
	    border-width: 1px;
	    padding :2px 2px 1px 2px;
	    margin: 0.5em 1em 0 2em;
        div.caption {
        }
        /* ツッコミ省略版本文 */
        article.commentshort {
            margin-left: 0.5em;
            p {
                margin-top: 0.2em;
                margin-bottom: 0.2em;
                line-height: 1.2em;
            }
            span.commentator {
            }
        }
        /* ツッコミ本体 */
        article.commentbody{
            margin: 0.5em;
            line-height: 1.2em;
            /* ツッコミした人の情報 */
            div.commentator {
	            padding: 3px;
	            color: #cc6600;
            }
            /* ツッコミ本文 */
            p {
                margin: 0.5em;
            }
        }
    }
    /* リンク元リスト(短い方)の設定 */
    div.referer {
	    text-align: right;
	    font-size: 90%;
	    padding: 2px;
	    padding-bottom: 1px;
	    margin-left: 2em;
	    margin-right: 1em;
    }
    /* リンク元リスト(全体一覧)の設定 */
    div.refererlist {
	    font-size: 90%;
	    padding: 2px;
	    padding-bottom: 1px;
	    margin-top: 0.5em;
	    margin-left: 2em;
	    margin-right: 1em;
        /* リンク元リスト一覧の設定 */
        ul {
	        margin-top: 0em;
        }
        /* リンク元リストタイトルの設定 */
        div.caption {
        }
    }

    /* フォーム全体を囲む枠の設定 */
    div.form {
	    padding: 0.5em 1em 0.5em 1em;
	    margin: 0.5em 1em 0.5em 2em;
        /* フォームの設定 */
        form {
            margin: 0em;
        }
        /* 更新フォーム */
        form.update {
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            input, textarea{
                background-color: white;
            }
            span.field {
                display: inline;
                margin-left: 0em;
                margin-right: 0.5em;
            }
            div.field.title {
                display: block;
                margin-top: 1em;
            }
            div.field.title input {
                margin-left: 0.5em;
            }
            div.textarea {
                display: block;
                margin-top: 1em;
            }
            textarea {
                display: block;
                margin-bottom: 1em;
                width: 35em;
                height: 15em;
            }
            span.checkbox.hidediary {
                margin-left: 1em;
            }
        }
        div.caption {
            margin: 0.5em;
        }
        form.comment {
            input {
                background-color: white;
                margin-left: 1em;
            }
            div.textarea {
                display: block;
                vertical-align: top;
                textarea{
                    display: block;
                    background-color: white;
                    width: 30em;
                    height: 5em;
                }
            }
            div.button {
                display: block;
            }
        }
        div.field {
            display: inline;
            margin-right: 2em;
        }
        /* 入力フィールドの設定 */
        input.field {
	        background-color: white;
        }
        /* 複数行入力フィールドの設定 */
        textarea {
	        background-color: white;
	        margin-left: 1em;
	        width: 30em;
        }
    }
}


/* フッタの設定 */
footer.footer {
	font-size: small;
	text-align: right;
	margin-top: 0px;
}

/* 罫線の設定 */
hr {
	border-style: solid;
	border-width: 2px 0px 0px 0px;
	border-color: #ddd;
    /* 日々の日記のセパレータに使われる罫線の設定 */
    .sep {
	    display: none;
    }
}

/* エラーメッセージ表示の設定 */
p.message {
	text-align: center;
	font-size: large;
	background-color: red;
	color: white;
	padding: 8px;
}

/* 整形済みテキスト(preタグ)の設定 */
pre {
	border-color:#333;
	border-width: 3px;
	border-style: double;
	background-color: #f3f3e6;
	margin-left: 2em;
	margin-right: 1em;
	padding: 8px 8px 8px 8px;
}

/* 強調 */
em{
	font-weight: normal;
	font-style: normal;
	background-color:#99ff99
}

/* より強い強調 */
strong{
	color: black;
	font-style: normal;
	background-color:#99ff99
}

/* 隠し文字 */
.hide{
	background-color: #333333;
}

/* セミフッタの設定 */
.sfooter {
	margin-left: 45px;
}



form.commentstat input {
    background-color: white;
}

/* ツッコミ状態変更フォーム */
div.comment form {
    margin-top: 0em;
}

nav.sidebar{
    font-size: 90%;
    color: #000;
    position: absolute;
    top: 300px;
    left: 10px;
    width: 280px;
    padding: 2px 0px 0px 0px;
    ul.tagcloud{
        @include vpcss('border-radius', 10px);
        @include vpcss('box-shadow', 2px 2px 3px #000);
        @include vpcss('text-shadow', 1px 1px 1px #008);
        background-color: #f5f5f5;
        border: 1px solid #ccc;
        padding: 5px;
    }
}

